* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-color: rgba(106, 181, 194, 0.185);
}

.not-sidebar {
    padding-left: 300px;
}



header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
    padding: 20px 50px;
}

.magnify {
    width: 30px;
}

input {
    background-color: var(--background-color);
    border: none;
    height: 30px;
    border-radius: 1000px;
    min-width: 100px;

}

.notifications {
    width: 30px;
}

.account {
    width: 40px;
    border: 1px black solid;
    border-radius: 50%;
    padding: 2px;

}

header div:first-child div:first-child {
    display: grid;
    grid-template-columns: 1fr 100%;
    align-items: center;
    gap: 15px;
}

.header-top-row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10vw;
}

.header-top-row > div + div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.account-name {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-picture {
    width: 50px;
    border: 1px black solid;
    border-radius: 50%;
    padding: 2px;
}

.header-bottom-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.header-bottom-row div:first-child {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 350px;
}

.header-bottom-row p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5
}

.header-bottom-row p:first-child {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.buttons {
    justify-self: flex-end;
    min-width: 356px;
}

button {
    width: 6rem;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: rgb(59, 144, 255);
    border: none;
    border-radius: 1000px;
    padding: 10px;
    margin-left: 20px;
}

.sidebar {
    background-color: rgb(59, 144, 255);
    height: 100vh;
    padding: 30px;
    position: fixed;
    width: 250px;
}

.sidebar img {
    width: 30px;
}

.sidebar-header  {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.sidebar-header img  {
    width: 50px;
    margin-left: -8px;
}

ul div img {
    width: 30px;
}

ul div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    font-weight: bold;
    font-size: 1.25rem;
}

ul {
    margin-bottom: 100px;
}

.card {
    border-left: 10px rgb(255, 196, 0) solid;
    border-radius: 10px;
    background-color: white;
    padding: 30px 25px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 30px;
}

.card-images {
    margin-top: 15px;
    height: 100%;
    justify-self: end;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 25px;
}

.poll {
    margin-bottom: 2px;
}

main {
    background-color: var(--background-color);
    padding: 50px;
}

main > P {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

